In [48]:
# Dependencies
from splinter import Browser
from bs4 import BeautifulSoup
import requests
import pymongo
import pandas as pd

In [3]:
# Initialize PyMongo to work with MongoDBs
conn = 'mongodb://localhost:27017'
client = pymongo.MongoClient(conn)

In [4]:
# Define database and collection
db = client.mars_db
collection = db.items

In [5]:
# URL of Mars news page
news_url = 'https://mars.nasa.gov/news/?page=0&per_page=40&order=publish_date+desc%2Ccreated_at+desc&search=&category=19%2C165%2C184%2C204&blank_scope=Latest'

# Retrieve page with the requests module
news_response = requests.get(news_url)
# Create BeautifulSoup object; parse with 'lxml'
soup = BeautifulSoup(news_response.text, 'lxml')

In [33]:
# results for Mars recent news
results = soup.find_all('div', class_='image_and_description_container')

# mars news text
mars_text = results[0].text

# mars news title
#mars_news = results.href[0]

#print news paragraph
print(mars_text)

After a five-year search, NASA has chosen Jezero Crater as the landing site for its upcoming Mars 2020 rover mission.

In [34]:
# URL of Mars Twitter weather page
url = 'https://twitter.com/marswxreport?lang=en'

# Retrieve page with the requests module
response = requests.get(url)
# Create BeautifulSoup object; parse with 'lxml'
soup = BeautifulSoup(response.text, 'lxml')

In [37]:
# results for Mars Twitter tweets
results = soup.find_all('p', class_='TweetTextSize')
mars_weather = results[0].text

#print current mars weather
print("Mars weather: ", mars_weather)

Mars weather:  Sol 2258 (2018-12-13), high -6C/21F, low -70C/-93F, pressure at 8.41 hPa, daylight 06:37-18:51

In [5]:
# URL of page to be scraped
image_url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'

# Retrieve page with the requests module
image_response = requests.get(image_url)
# Create BeautifulSoup object; parse with 'lxml'
soup = BeautifulSoup(image_response.text, 'lxml')

In [45]:
image_results = soup.find_all('url')

#mars_image = image_results.find_all('a').text

#print(mars_image)
print(image_results)

[]

In [35]:
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [36]:
url = ''
browser.visit(url)

In [41]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

AttributeError: ResultSet object has no attribute 'href'. You're probably treating a list of items like a single item. Did you call find_all() when you meant to call find()?

In [49]:
 url = 'https://space-facts.com/mars/'

In [62]:
mars_facts = pd.read_html(url)
mars_facts

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.52 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                  -153 to 20 Â°C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [63]:
type(mars_facts)

list

In [64]:
df = mars_facts[0]
renamed_df = df.rename(columns={0: 'feature', 1: 'data'})
renamed_df.head()

                feature                           data
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.52 AU)

In [66]:
df = renamed_df.set_index("feature", inplace=False)
df.head()

                                               data
feature
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.42 x 10^23 kg (10.7% Earth)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.52 AU)

In [67]:
df.to_html('mars_facts.html')